@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    background-color: #0A0A0A;
    padding: 33px 0 32px;
    color:#717171;
    font-size: 24px;
    line-height: 29px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone{
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.menu-item{
    padding-right: 30px;
}

.headline{
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title{
    text-transform: uppercase;
    margin: 0 0 40px;    
    color: #490E84;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.headline-img{
    margin-bottom: 25px;    
}

.headline-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.new{
    padding: 90px 0 150px;
}

.new-title,
.color-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700px;
}

.new-info{
    display: flex;
}

.new-text p{
    max-width: 560px;
    margin: 0 0 30px;
}

.new-text b{
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}

.images-new{
    margin-left: 190px;
}

.color{
    padding-bottom: 150px;
}

.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img{
    margin-bottom: 20px;
}

.color-item h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}

.color-item p{
    margin: 0;
}